<h2>Cadastro de usuários</h2>
<div *ngIf="mostrarErros" class="alert alert-danger" role="alert" >
  <div *ngFor="let erro of mensagensDeErro">
      <div>
         {{ erro.errorMessage }}
      </div>
  </div>
</div>
<form #f="ngForm">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="text" class="form-control" [(ngModel)]="usuarioEmEdicao.email" #email required>
    </div>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" name="nome" type="text" class="form-control" [(ngModel)]="usuarioEmEdicao.nome" ngModel #nome required>
    </div>

    <div class="form-group">
        <label for="senha">Senha</label>
        <input id="senha" name="senha" type="password" class="form-control" [(ngModel)]="usuarioEmEdicao.senha" ngModel #senha required>
    </div>

    <div class="form-group">
        <label for="confirmacaoDeSenha">Confirme a senha</label>
        <input id="confirmacaoDeSenha" name="confirmacaoDeSenha" type="password" [(ngModel)]="usuarioEmEdicao.confirmacaoDeSenha" class="form-control" ngModel #confirmacaoDeSenha="ngModel" required>
    </div>
    <fieldset class="form-group">
        <legend class="col-form-label">Perfis associados</legend>
        <div class="form-check" *ngFor="let perfil of perfisDisponiveis">
            <input class="form-check-input" [(ngModel)]="perfil.selecionado" [name]="'checkbox' + perfil.valor"  type="checkbox" [id]="'checkbox' + perfil.valor"
                [value]="perfil.valor">
            <label class="form-check-label" [for]="'checkbox' + perfil.valor">
                {{ perfil.nome }}
            </label>
        </div>
    </fieldset>
    <div class="text-center">
        <button class="btn btn-secondary mr-2" routerLink="/controle-de-acesso/usuarios">
            Voltar
        </button>
        <button class="btn btn-primary mr-2" (click)="gravar(f)">
            Gravar
        </button>
        <button class="btn btn-danger mr-2" [disabled]="!idDoUsuarioSelecionado" (click)="excluir(f)">
            Excluir
        </button>
    </div>
</form>
